body{
background: url("https://t4.ftcdn.net/jpg/02/39/11/27/360_F_239112744_wOkEgDj9rlcMaUPk5RrbLi9VyhP4kOsW.jpg");
color: azure;
vertical-align:auto;
text-align: center;
justify-content: center;
margin-top: 100px;
}

.container{
background-color: rgba(54, 1, 12, 0.836);
}
.card{
    background-color: black;
}
#birth-date, #birth-year, #birth-month, #genders {
    color: black;
}