body{
background: url("/images/darkkente.jpg");
color: azure;
vertical-align:auto;
text-align: center;
justify-content: center;
margin-top: 100px;
}

.container{
background-color: rgba(54, 1, 12, 0.836);
}
.card{
    background-color: black;
}